<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.test.config.dao.mapper.ConfigMapper">
	
	<insert id="addTestUser">
		INSERT INTO config (kind,description) VALUES(1,"111")
	</insert>
</mapper>